<!DOCTYPE html>
<html>
  <head>
    <title>BitcoinData</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <dialog id="turbo-confirm">
      <form method="dialog">
        <p>Are you sure?</p>
        <div>
          <button value="cancel">Cancel</button>
          <button value="confirm">Confirm</button>
        </div>
      </form>
    </dialog>
  </body>
</html>
